.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navLogo {
    width: 8rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    a {
      cursor: pointer;
      padding: 0.3rem;
      margin: 0.5rem;
      color: #000;
    }

    &:hover {
      color: red;
    }
  }
  .actionBtns {
    padding: 0.5rem;
    display: flex;
    button {
      padding: 0.5rem;
      margin: 0 0.2rem;
      font-size: 1.8rem;
    }
  }
}
